
.swiper {
    
    width: 100%; 
    max-width: 800px; 
    margin: 0 auto;
    padding-bottom: 50px ;
  }
.swiper-slide img {
    
    width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
    border-radius: 8px;
    border: 5px solid #ffcc00;
  }

